body{  
    font-family: Verdana, sans-serif;   
}  
@media (min-width:1170px){
    body{
        background-image: url(../img/man-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    h1{
        text-align: left;
        color: white;
        font-size: 20px;
        margin-top: 30%;
        margin-left: 20px;
        
    }
    b.front{
        font-size: 40px;
        line-height: 80px;
    }
}
@media (min-width: 992px) and (max-width:1169px){
    body{
        background-image: url(../img/man-2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 70%;
        background-position: top;
        background-attachment: fixed;
        margin: auto;
    }
    div{
        position: relative;
        margin: 0;

    }
    h1{
        position: absolute;
        margin-left: 60%;
        text-align: left;
        padding-top: 10%;
        color: white;
        font-size: 15px;
    }
    b.front{
        font-size: 25px;
        line-height: 60px;
    }

}
@media (max-width:991px){
    body{
        background-image: url(../img/man-1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position: top;
        background-attachment: fixed;
        
        
    }
    h1{
        color: black;
        font-size: 20px;
        margin-top: 50%;
        text-align: center;      
    }
    b.front{
        font-size: 40px;
        line-height: 80px;
    }
}